<!--<ion-view view-title="Home" data-ng-controller="HomeCtrl as homeCtrl"> -->
<ion-view view-title="Home" data-ng-controller="HomeCtrl as homeCtrl">
	<ion-content class="padding">



		<!-- body HTML tag -->
		<div class="list card">
			<div class="item item-body">
				<button class="button button-positive" ng-click="homeCtrl.doLogout()">
					Logout
				</button>
				
				<br></br><br>
				<div class="list">
					<a class="item item-icon-left">
						<i class="icon ion-email"></i>
						Check Email
					</a>
					<a class="item item-icon-left">
						<i class="icon ion-email"></i>
						Another Check Email
					</a>
				</div>
			</div>	
		</div>

	</ion-content>
</ion-view>